* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: #eee;
    overflow: hidden;
}

header {
    text-align: center;
    margin-top: 30px;
    color: #333;
}

header > h1 {
    font-size: 2rem;
    
}

header > p {
    margin: 30px;
}

.pics {
    text-align: center;
    background-color: white;
}

.pics img {
    width: 70%;
}

.pics figcaption {
    padding: 15px;
}

.info {
    color: #333;
    width: 50%;
    margin: 0 auto;
}

.info article h3 {
    font-size: 1.2rem;
    text-align: center;
    padding: 40px;
}

.info article ul {
   
}

.info article ul li {
    line-height: 3;
}

.info i {
    display: inline-block;
    line-height: 2;
    padding-bottom: 30px;
}

.footer {
    text-align: center;
    margin: 30px;
}

.footer h3 {
    font-size: 1.2rem;
}

.footer h3 a {
    font-size: 1.2rem;
    color:#477ca7;
}